<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/newlandingpage.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div id="app">
        <div class="title">
          <a href="/register">
            <div class="title-inner">
              <div class="cafe">
                <div class="cafe-inner" style="color:gray">Yogi</div>
              </div>
              <div class="mozart">
                <div class="mozart-inner" style="color:gray">Lite <span style="color:green">&#8250;</span></div>
              </div>
         
                <!-- <div class="mozart">
                  <div class="mozart-inner">  
                    <a href="/register" style="color:white;border-radius: 50%;" ></a></div>
                </div> -->
              
            </div>
          </a>
        </div>
        
        
         <div class="image"><a href="/register"> <img src='https://wallpapercave.com/wp/wp4077351.jpg' alt=''></a></div>
        
    
   
      </div>
      
      
      <script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>