<!DOCTYPE html><html><head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.3.1/p5.min.js"></script>
  <!-- CSS only -->
  <script src="./p5.js"></script>
  <script src="./p5.sound.min.js"></script>
  <script src="./ml5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <meta charset="utf-8">
 <style>
  /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color:grey;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
</style> 



<script>
  
  // Set the date we're counting down to
  var countDownDate = new Date().getTime();
  
  // Update the count down every 1 second
  var x = setInterval(function() {   
    // Get today's date and time
    var now = new Date().getTime();
  
    // Find the distance between now and the count down date
    var distance = now-countDownDate;
  
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
   var  hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    // Display the result in the element with id="demo"
    document.getElementById("disp").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    // var uurl="/finish/"+hours+"/"+minutes + "/" +seconds+"/"+user.id+'/'+model+'/'+current_activity;

    var uurl="/finish"+ "/" +hours+"/"+minutes + "/" +seconds;
    document.getElementById("timer-send").setAttribute("href",uurl+"/<%=current_activity%>");
  
    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("disp").innerHTML = "EXPIRED";
    }
  }, 1000);
  </script>

</head>


<body onload="myFunction()">
  
  
<div class="split left">
  <div class="centered">
    <div class="container" style="width:650px;height:480px;">
      <iframe class="embed-responsive" src="<%=model.link%>" allow="camera" allowfullscreen  width="100%" height="100%"></iframe>    
    </div>
    <p style="color:yellow;">Your Video Here</p>
    
    <button id="disp" class="btn btn-light">Timer</button>    
    <a  id = "timer-send" href="/finish/0/0/0/0" class="btn btn-success" style="margin-left:5px;">End</a>

  </div>
  
</div>
 <div class="split right"> 
  <div class="centered">
    <div class="container" style="height: 480px;margin-top: 0px;" ">
      <iframe width="600" height="498" src="<%=model.youtubevideolink%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="color:yellow;">Here's a Reference video for you</p> 
    </div>
    
    
  </div>
</div> 

</div>



  <script src="./sketch.js"></script>


</body>

</html>
