<div class="container">
    <div class="container">
        <div class="row">
    
          <div class="col-sm">
            <div class="centered">
              <iframe class="embed-responsive" src="<%=modelid%>" allow="camera" allowfullscreen width="100%" height="100%"></iframe>
            </div>
          </div>
          <div class="col-sm">
            <iframe class="embed-responsive-" src="<%=modelid%>" allow="camera" allowfullscreen width="100%" height="100%"></iframe>
          </div>
        </div>
      </div>