

<%- include ("../partials/header") %>
<div class="container" style="margin-top: 5.1%;">

    <div class="jumbotron text-center " style="background-color: #ffffff; color:darkslateblue;">
        <img src="../images/Yogi Lite-logos_transparent.png" style="height: 5cm;width: 5cm;"><h1 style="font-family: 'Dancing Script', cursive;"> Welcome! </h1>
        <p>Login or Register here with:</p>
        <div>
        <!-- <a href="/google" class="btn btn-success"><i class="fa fa-google" aria-hidden="true"></i>Google</a> -->
        <a href="/google"><img  src="images/google_button.png" style="height: 1.3cm;"></a>
        </div>

    </div>

</div>


</div>
<%- include("../partials/footer") %>


